{% extends 'base/base.html' %}

{%  load static %}

{% block titulo %}Fundación Pueblo{% endblock %}



{% block contenido %}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
</head>
<body>
    <!-- Estilo de formulario anterior 
    <center>
    <div  class='container' style="width:60%;">
    <h3>Formulario de contacto</h3>
    <p>Escríbenos y en breve nos pondremos en contacto contigo</p>
    <form  method="post" class="was-validated" >
        {% csrf_token %}
        <label>Nombre completo</label>
        <input type="text" name="nombre" class="form-control" required>
        <label>Correo electrónico</label>
        <input type="text" name="email" class="form-control" required>
        <label>Su mensaje</label>
        <input type="text" name="mensaje" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    -->

<center>
    <div class="my-2" style="width: 50%; background-color: white; padding: 10px; border: 1px solid rgb(13, 110, 253); border-radius: 0.375rem;">
        <h3 class="text-center" style="margin-bottom:0px"  >Formulario de contacto</h3>
        <p>Escríbenos y en breve nos pondremos en contacto contigo</p>

            <form  method="post" >
                {% csrf_token %}
                <div class="form-floating mb-3">            
                    <input type="text" name="nombre" id="floatingInput" class="form-control" placeholder="Nombre completo" required>
                    <label for="floatingInput">Nombre completo</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" name="email" id="floatingInput" class="form-control" placeholder="Correo electrónico" required>
                    <label for="floatingInput">Correo electrónico</label>
                </div>
                <!-- Estilo de formulario anterior -->
                <!-- <label>Su mensaje</label> -->
                <!-- <input type="text" name="mensaje" class="form-control" required> -->
                <textarea name="mensaje" class="form-control" style="width: 100%; margin-bottom: 10px" rows="10" placeholder="Escriba su consulta" required maxlength="10000"></textarea>
                <input type="hidden" name="next" value="{{request.path}}">
                <button type="submit" class="btn btn-primary">Enviar</button>

                {% if messages %}
                    
                        {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            </div>
                        {% endfor %}
                     
                {% endif %}
            </form>
    </div>
</center>



{% endblock %}