{% extends 'base/base.html' %} 
{%  load static %}

{% block titulo %}Fundación Pueblo{% endblock %}

{% block contenido %}

    <div class="container-fluid text-center my-2 w-75">

        <div class="card" style="border: 1px solid rgb(13, 110, 253);"> 
                        
            {% if evento.foto %}
                <div class="m-2">
                    <img src="{{evento.foto.url}}" class="card-img-top" style="width: 100%; height: 400px; object-fit: contain; border-radius: 0.375rem;" alt="..." />
                </div>
            {% else %}
                <div style="margin: auto;">
                    <img src="{% static 'img/imagen-eventos-default.jpg' %}" class="card-img-top" alt="..." />
                </div>                        
            {% endif %}
                
            
            <div class="card-body h-100" style="background-color: whitesmoke;">
                <h3 class="card-title">{{evento.titulo_evento}}</h3>
                <p class="card-text">{{evento.descripcion_evento}}</p>
            </div>
            <div style="display: flex; justify-content:space-around;" class="m-1">
                <ul class="list-group " style="border-top: none;">
                    <li class="list-group-item">{{evento.hora_evento}}</li>
                </ul>
                <ul class="list-group " style="border-top: none;">
                    <li class="list-group-item">{{evento.modalidad_evento}}</li>
                </ul>
            </div>
                
            {% if user.is_authenticated %}                            
                {% if evento.asistencias.all.count >= 1 %}
                    <div class="card-body" style="background-color: whitesmoke;">
                        <span> {{evento.asistencias.all.count}} Asistencias Confirmadas</span>

                        <form method="POST" action="{% url 'evento:asistencias' pk=evento.pk %}">{% csrf_token %}
                            <input type="hidden" name="next" value="{{request.path}}">
                            <button type='submit' style="background-color: red;color: white;width: 130px;height: 40px;cursor: pointer;">Me arrepentí</button>
                        </form>
                    </div>
                {% else %}
                    <div class="card-body" style="background-color: whitesmoke;">
                        <span> {{evento.asistencias.all.count}} Asistencias Confirmadas</span>

                        <form method="POST" action="{% url 'evento:asistencias' pk=evento.pk %}">{% csrf_token %}
                            <input type="hidden" name="next" value="{{request.path}}">
                            <button type='submit' style="background-color: rgb(13, 110, 253);color: white;width: 130px;height: 40px;cursor: pointer;">Voy a Asistir</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}

        </div>

    </div>

{% endblock contenido %}